@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  overflow: auto;
}

.animate_scroll {
  animation: scrollAnimation 10s infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-76%);
  }
  100% {
    transform: translateY(0);
  }
}


::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid white;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

/* Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */

.c_main {
  color: #FD6F00;
}

.bg_main {
  background: #FD6F00;
}

/* Cursor */
.cursor{
    position: relative;
    border-right: 2px solid #FD6F00;
    font-size: 72px;
    white-space: nowrap;
    line-height: 100%;
    overflow: hidden;
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: #FD6F00; }
  to { border-right-color: transparent; }
}